<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Poker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <form action="game" method="post" id="pokerform">

        <label for="comment_author" class="required">Your name</label>
        <input type="text" name="player_name" id="player_name" value="" tabindex="1"> <br />

        <input name="submit" type="submit" value="Submit" />
    </form>
    </body>
</html>
